// .partners__list {
//   display: grid;
//   grid-template-columns: 1fr 1fr;
// }

// .partners__item {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   list-style-type: none;
//   margin-bottom: 2em;
// }

.slider {
  display: grid;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 95vw;
  // background-color: wheat;

  &__slide {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    //  background-color: salmon;
    width: 100%;
  }
}

// swiper wrapper should be set to align-items: center
