.form {
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 5px;

  // background: linear-gradient(to right, darkgrey 0%, grey 50%, darkgrey 100%);

  // background: linear-gradient(
  //   145deg,
  //   // rgba(97, 99, 100, 0.5) 0%,
  //   rgb(111, 113, 114) 0%,
  //   rgba(53, 53, 53, 0.3) 10%,
  //   rgb(111, 113, 114) 40%,
  //   rgba(97, 99, 100, 0.5) 70%,
  //   rgb(111, 113, 114) 100%
  // );

  background: linear-gradient(
    195deg,
    // rgba(97, 99, 100, 0.5) 0%,
    rgb(88, 88, 88) 0%,
    rgba(31, 31, 31, 0.5) 10%,
    rgb(88, 88, 88) 40%,
    rgba(97, 99, 100, 0.7) 70%,
    rgb(88, 88, 88) 100%
  );

  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

  // border: 1px solid rgb(39, 39, 39);
  &__header {
    // background: rgb(240, 131, 43);
    background: -webkit-linear-gradient(
      to right,
      to right,
      rgb(247, 173, 0) 0%,
      // rgb(240, 131, 43) 20%,
      rgb(240, 131, 43) 70%,
      rgb(228, 44, 49) 100%
    );
    background: linear-gradient(
      to right,
      rgb(247, 173, 0) 0%,
      // rgb(240, 131, 43) 20%,
      rgb(240, 131, 43) 70%,
      rgb(228, 44, 49) 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  &__item {
    height: 3em;
    margin: 0 1ch 0.5em 1ch;
    margin-bottom: 0.5em;
    background-color: rgba(212, 212, 212, 0.2);
    // color: black;

    border: 1px solid white;
    border-radius: 5px;

    &_checked {
      display: flex;
      font-size: 0.7rem;
      margin-bottom: none;
      justify-content: center;
      align-items: center;
    }
    &_submit {
      text-transform: uppercase;
      // background-color: rgb(247, 173, 0);
      background: linear-gradient(
        to right,
        rgb(247, 173, 0) 0%,
        rgb(240, 131, 43) 20%,
        rgb(240, 131, 43) 70%,
        rgb(228, 44, 49) 100%
      );
      // background-color: rgb(57, 146, 207);
      color: white;
      font-weight: bold;
    }
  }
  &__link {
    color: wheat;
    text-decoration: rgb(57, 146, 207) dashed 2;
  }
  &__personal {
    color: wheat;
    margin-left: 0.3ch;
  }
}
