.form {
  display: flex;
  flex-direction: column;

  text-align: center;
  border-radius: 5px;
  box-shadow: 4px 10px 30px rgba(0, 0, 0, 0.2);

  &__item {
    height: 3em;
    margin: 0 1ch 0.5em 1ch;
    margin-bottom: 0.5em;
    background-color: rgba(212, 212, 212, 0.2);
    // color: black;
    border: none;
    border-radius: 5px;

    &_checked {
      display: flex;
      font-size: 0.7rem;
      margin-bottom: none;
      justify-content: center;
      align-items: center;
    }
    &_submit {
      text-transform: uppercase;
      // background-color: rgb(247, 173, 0);
      background-color: rgb(57, 146, 207);
      color: white;
      font-weight: bold;
    }
  }
  &__link {
    text-decoration: rgb(57, 146, 207) dashed 2;
  }
  &__personal {
    color: rgb(57, 146, 207);
    margin-left: 0.3ch;
  }
}
