$colors: (
  bw: (
    100: white,
    900: black,
  ),
  np: (
    100: #33cc99,
    200: #639c84,
    300: #effdf6,
    400: #d9eddf,
  ),
  dp: (
    100: #33cc99,
    200: #639c84,
    300: #f0fcf7,
    400: #386c5f,
  ),
);
