// .advantages {
//   background: linear-gradient(
//     180deg,
//     rgba(76, 201, 240, 0) 0%,
//     rgba(67, 97, 238, 0.3) 70%,
//     rgba(76, 201, 240, 0) 100%
//   );

//   // border-radius: 0px 0px 800px 800px;
//   &__pics {
//     display: grid;
//     grid-template-columns: 3fr 2fr;
//     gap: 5px;
//     &_left {
//       display: flex;
//       flex-direction: column;
//       margin-top: 40px;
//     }
//     &_right {
//       display: flex;
//       flex-direction: column;
//       gap: 5px;
//     }
//   }
//   &__pic {
//     object-fit: cover;
//     box-shadow: 4px 10px 30px rgba(0, 0, 0, 0.15);
//     border-radius: 20px;
//     max-width: 100%;
//     @media screen and (min-width: 361px) {
//       width: 100%;
//     }
//   }
// }

.services {
  @media (min-width: 600px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
  }
  @media (min-width: 1000px) {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
  }
  &__service {
    margin-bottom: 1rem;
    border-radius: 5px;
    // border: 1px solid grey;
    padding: 0.2rem 0 1rem 0;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  &__link {
    text-decoration: none;
  }
  &__image {
    width: 100%;
    object-fit: cover;
  }

  &__text {
    color: black;
    margin-left: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__header {
    margin: 0;
  }
  &__price {
    color: white;
    // background-color: #05589d;
    // border: 4px solid #05589d;
    background-color: grey;
    border: 2px solid grey;
    border-radius: 5px;
    display: inline-block;
    width: max-content;
    font-size: 11px;
  }
}
