.advantages {
  background: linear-gradient(
    180deg,
    rgba(76, 201, 240, 0) 0%,
    rgba(67, 97, 238, 0.3) 100%
  );
  border-radius: 0px 0px 800px 800px;
  &__pics {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 5px;
    &_left {
      display: flex;
      flex-direction: column;
      margin-top: 40px;
    }
    &_right {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
  }
  &__pic {
    object-fit: cover;
    box-shadow: 4px 10px 30px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    max-width: 100%;
    @media screen and (min-width: 361px) {
      width: 100%;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
  }
  &__item {
    margin-left: 2ch;
  }
}

.services {
  &__service {
    background-color: wheat;
    margin-bottom: 0.5rem;
    border-radius: 5px;
    border: 1px solid grey;
    position: relative;
  }
  &__link {
    text-decoration: none;
  }
  &__image {
    width: 100%;
  }
  &__text {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    height: 30%;
    width: 100%;
    position: absolute;
    bottom: 0;
  }
}

.license {
  &_center {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: 561px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 5px;
    }
  }
  &__license {
    margin-bottom: 1em;
    @media screen and (min-width: 561px) {
      margin-bottom: 0;
    }
  }
}
