.footer {
  border-top: 1px dotted black;
  // background: linear-gradient(
  //   35deg,
  //   rgba(88, 88, 88, 0.1) 0%,
  //   rgba(31, 31, 31, 0.5) 10%,

  //   rgba(88, 88, 88, 0.1) 40%,
  //   rgba(97, 99, 100, 0.5) 70%,
  //   rgba(88, 88, 88, 0.1) 85%,
  //   rgba(97, 99, 100, 0.5) 100%
  // );
  background: linear-gradient(
    180deg,
    rgba(76, 201, 240, 0.02) 0%,
    rgba(67, 97, 238, 0.3) 70%,
    rgba(76, 201, 240, 0.03) 100%
  );
  &__phone,
  &__mail {
    text-transform: uppercase;
    font-family: var(--font-lora);

    text-decoration: none;
    font-size: 1.5rem;
    // outline: 2px solid white;
    border-top: 1px dotted black;
    display: flex;
    background: -webkit-linear-gradient(
      80deg,
      rgb(48, 156, 163) 0%,
      rgb(66, 149, 209) 20%,
      rgb(5, 88, 157) 50%,
      rgb(77, 61, 145) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    width: 100%;
    // text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);

    //     background: #05589d;
    // border-radius: 5px;
    // box-shadow: 0 5px 5px #4295d1;
    // background-color: rgb(247, 173, 0);
    // background: linear-gradient(
    //   to right,
    //   rgb(247, 173, 0) 0%,
    //   rgb(240, 131, 43) 20%,np
    //   rgb(240, 131, 43) 70%,
    //   rgb(228, 44, 49) 100%
    // );
  }
  &__mail {
    outline: none;
    text-transform: none;
    font-size: 1.2rem;
  }
}
