.license {
  &_center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    // border: 1px solid greenyellow;

    @media screen and (min-width: 561px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 5px;
      justify-content: center;
      align-items: center;
    }
  }
  &__license {
    margin-bottom: 1em;
    @media screen and (min-width: 561px) {
      margin-bottom: 0;
    }
  }
}

// .swiper {
//   width: 90vw;
//   // border: 1px solid salmon;
//   display: flex;
// }

// .slide {
//   border: 1px solid purple;
// }
